<main class="blogs-section">
  <div class="title-and-logo">
    <h2 class="title">ბლოგი</h2>
    <div class="img-container">
      <img [src]="'/assets/imgs/main-page-logo.png'" alt="Main Logo">
    </div>
  </div>
  <div class="categories-container">
    <button class="market">მარკეტი</button>
    <button class="application">აპლიკაცია</button>
    <button class="artificial-intelligence">ხელოვნური ინტელექტი</button>
    <button class="ui-ux">Ui/UX</button>
    <button class="examination">კვლევა</button>
    <button class="figma">Figma</button>
  </div>
</main>