.blogs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.title-and-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
}

.title {
  font-size: 6.4rem;
  font-weight: 700;
}

.categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 1rem;
  margin: 5rem 0;
}

.categories-container button {
  cursor: pointer;
  white-space: nowrap;
  font-weight: 700;
  font-size: 2rem;
  border: none;
}

.market {
  color: #D6961C;
}

.category-btn {
  font-family: inherit;
  padding: 1rem;
  border-radius: 13px;
}

.center-categories {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-container {
  width: 60%;
  overflow-x: auto;
}

/* width */
::-webkit-scrollbar {
  width: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blogs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  width: 128.8rem
}