.header {
  background-color: #ffffff;
  border-bottom: 1px solid #E4E3EB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  // position: fixed;
  width: 100%;
}

.logo-container {
  width: 15rem;
}

.redberry-logo {
  width: 100%;
}

.login-button {
  background-color: #5d37f3;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: inherit;
  padding: 1.4rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 13px;
}

// LOGIN FORM
.login-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.logged-in-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.centre-redberry-logo {
  justify-content: center;
}

.login, .login-success {
  width: 33.33%
}
