<div class="login-form-container">
  <form class="login-form">
    <h3>შესვლა</h3>
    <div class="email-input-container">
      <label for="email">ელ-ფოსტა</label>
      <input type="email" id="email" placeholder="Example@redberry.ge">
    </div>
    <button class="login-btn" type="submit">შესვლა</button>
  </form>
</div>
<header class="header">
  <div class="logo-container">
    <img class="redberry-logo" [src]="'assets/imgs/redberry-logo.png'" alt="Redberry Logo">
  </div>
  <button class="login-button">შესვლა</button>
</header>