<div class="item-container">
  <div class="img-container">
    <img [src]="'assets/imgs/test.png'" alt="Blog Image">
  </div>
  <div class="blog-details">
    <div class="blog-author-date">
      <span class="blog-author">ნია გოქსაძე</span>
      <span class="blog-date">02/11/23</span>
    </div>
    <p class="blog-title">EOMM-ის მრჩეველთა საბჭოს ნინო ეგაძე შეუერთდა</p>
    <div class="blog-categories"></div>
    <p class="blog-description">6 თვის შემდეგ ყველის ბრმა დეგუსტაციის დროც დადგა. მაქსიმალური სიზუსტისთვის, ეს პროცესი...</p>
    <a class="show-more-btn">სრულად ნახვა</a>
  </div>
</div>