<div class="item-container">
  <div class="img-container">
    <img [src]="blogItem.image" alt="Blog Image">
  </div>
  <div class="blog-details">
    <div class="blog-author-date">
      <span class="blog-author">{{ blogItem.author }}</span>
      <span class="blog-date">{{ blogItem.publish_date | date:'shortDate' }}</span>
    </div>
    <p class="blog-title">{{ blogItem.title }}</p>
    <div class="blog-categories">
      <ng-container *ngFor="let category of blogItem.categories">
        <div class="category-btn" [ngStyle]="{ 'color': category.text_color, 'background-color': category.background_color}">{{ category.title }}</div>
      </ng-container>
    </div>
    <p class="blog-description">{{ blogItem.description | shortenPipe }}</p>
    <a class="show-more-btn" (click)='viewFullPage()'>სრულად ნახვა</a>
  </div>
</div>