
.auth-success-btn {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  border: none;
  background-color: #5D37F3;
  width: 100%;
  text-align: center;
  padding: 1.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
}


.auth-success-text {
  font-size: 2rem;
  font-weight: 700;
}

.img-and-text {
  text-align: center;
}

.login-success-container {
  background-color: #fff;
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 12px;
}

.auth-success-btn {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.img-and-text {
  margin: 2rem 0 4rem 0;
}

.img-container {
  margin-bottom: 1rem;
}

.add-btn-container {
  text-align: end;
}

.add-btn-container img {
  cursor: pointer;
}