<section class="blog-section">
  <button routerLink="/blogs" class="back-btn">
    <img [src]="'assets/imgs/arrow-svg.svg'" alt="Arrow icon">
  </button>
  <div *ngIf="showModalWindow" class="blog-creation-success">
    <div class="success-container">
      <div class="close-container">
        <img [src]="'assets/imgs/add.png'" alt="Close modal icon" (click)="hideModal()">
      </div>
      <div class="message-and-logo">
        <div class="logo-container">
          <img [src]="'assets/imgs/tick-circle.png'" alt="Success icon">
        </div>
        <p class="success-message">ჩანაწი წარმატებით დაემატა</p>
      </div>
      <button class="success-btn" type="button">მთავარ გვერდზე დაბრუნება</button>
    </div>
  </div>
  <form [formGroup]="blogForm" class="blog-section-container" (ngSubmit)="onSubmit()">
    <h1 class="section-heading">ბლოგის დამატება</h1>
    <span class="upload-photo-title">ატვირთეთ ფოტო</span>
    <div *ngIf="!selectedPhoto" class="upload-photo-section">
      <div [class.invalid-upload-file]="showUploadError" class="upload-photo-container">
        <div class="logo-container">
          <img [src]="'assets/imgs/folder-add.png'" alt="Folder add logo">
        </div>
        <input formControlName="image" (change)="onPhotoSelected($event)" type="file" id="photo-input" class="form-input" hidden>
        <span class="upload-info">ჩააგდეთ ფაილი აქ ან<label class="form-label upload-info" for="photo-input"> აირჩიეთ ფაილი</label></span>
      </div>
      <p class="file-upload-error invalid" *ngIf="showUploadError">დაშვებულია მხოლოდ ფოტოს ატვირთვა</p>
    </div>
    <div *ngIf="selectedPhoto" class="uploaded-photo-container">
      <div class="logo-title-container">
        <div class="uploaded-logo-container">
          <img [src]="'assets/imgs/gallery.png'" alt="Gallery icon">
        </div>
        <span class="img-name">{{selectedPhoto.name}}</span>
      </div>
      <div class="close-btn-container">
        <img [src]="'assets/imgs/add.png'" alt="Remove Image Logo" (click)="onDeletePhoto()">
      </div>
    </div>
    <div class="two-inputs-container">
      <div class="author-input">
        <label class="form-label label-title required" for="author">ავტორი</label>
        <input formControlName="author" type="text" id="author" placeholder="შეიყვანეთ ავტორი">
        <ul class="author-validations">
          <li [class.invalid]="author?.errors?.['minlength'] || author?.touched" [class.valid]="!author?.errors?.['minlength'] && author?.value?.length">მინიმუმ 4 სიმბოლო</li>
          <li [class.invalid]="author?.errors?.['manyWords'] || author?.touched" [class.valid]="!author?.errors?.['manyWords'] && author?.value?.length">მინიმუმ ორი სიტყვა</li>
          <li [class.invalid]="author?.errors?.['notGeorgianLetters'] || author?.touched" [class.valid]="!author?.errors?.['notGeorgianLetters'] && author?.value?.length">მხოლოდ ქართული სიმბოლოები</li>
        </ul>
      </div>
      <div class="title-input">
        <label class="form-label label-title required" for="title">სათაური</label>
        <input formControlName="title" type="text" id="title" placeholder="შეიყვანე სათაური">
        <span class="title-warning-message" [class.invalid]="title?.errors?.['minlength'] || title?.touched" [class.valid]="!title?.errors?.['minlength'] && title?.value?.length">მინიმუმ 4 სიმბოლო</span>
      </div>
    </div>
    <div class="description-input">
      <label class="form-label label-title required" for="description">აღწერა</label>
      <textarea formControlName="description" class="textarea" name="description" id="description" placeholder="შეიყვანეთ აღწერა"></textarea>
      <span class="title-warning-message" [class.invalid]="description?.errors?.['minlength'] || description?.touched" [class.valid]="!description?.errors?.['minlength'] && description?.value?.length">მინიმუმ 4 სიმბოლო</span>
    </div>
    <div class="two-inputs-container date-and-categories">
      <div class="author-input">
        <label class="form-label label-title required" for="date">შეიყვანეთ თარიღი</label>
        <input formControlName="publish_date" type="date" id="date" placeholder="შეიყვანეთ თარიღი">
      </div>
      <div class="title-input">
        <label class="form-label label-title required" for="categories">კატეგორია</label>
        <div class="categories-input" [class.category-div-valid]="(selectedCategories$ | async)?.length" [class.category-div-focused]="isShown">
          <!-- Additional Div container to enable horizontal scrolling. -->
          <div class="create-sctoller">
            <div formControlArray="categories" class="chosen-categories">
              <span *ngIf="!(selectedCategories$ | async)?.length" class="category-input">აირჩიეთ კატეგორია</span>
              <ng-container *ngFor="let category of selectedCategories$ | async; let i = index">
                <div class="category-btn" [ngStyle]="{ 'color': category.text_color, 'background-color': category.background_color}">
                  <span>{{ category.title }}</span>
                  <div class="delete-icon-container">
                    <img [src]="'assets/imgs/add-white.png'" (click)="onRemoveCategory(i, category.id)" alt="Remove icon">
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="show-hide-categories">
            <img [src]="'assets/imgs/arrow-down.png'" alt="Arror Down" (click)="showOrHideCategories()">
          </div>
          <div *ngIf="isShown" class="categories">
            <ng-container *ngFor="let category of categories$ | async">
              <button type="button" (click)="addCategory(category.id)" class="category-btn choose-category" [ngStyle]="{ 'color': category.text_color, 'background-color': category.background_color}">{{ category.title }}</button>
            </ng-container>
          </div>
        </div>
        <!-- <div *ngIf="isShown" class="categories">
          <ng-container *ngFor="let category of categories$ | async">
            <button class="category-btn" [ngStyle]="{ 'color': category.text_color, 'background-color': category.background_color}">{{ category.title }}</button>
          </ng-container>
        </div> -->
      </div>
    </div>
    <div class="two-inputs-container email-form-container">
      <label class="form-label label-title" for="email">ელ-ფოსტა</label>
      <input [class.ng-valid]="email?.touched" formControlName="email" type="email" id="email" placeholder="შეიყვანეთ იმეილი">
      <div *ngIf="email?.invalid || email?.errors?.['invalidEmailAddress']" class="email-error">
        <div class="icon-wrapper">
          <img [src]="'assets/imgs/info-circle.png'" alt="Warning icon">
        </div>
        <span class="email-error-message">მეილი უნდა მთავრდებოდეს @redberry.ge-ით</span>
      </div>
    </div>
    <div class="btn-container">
      <app-spinner *ngIf="isLoading" (click)="showSpinner()"></app-spinner>
      <button *ngIf="!isLoading" [disabled]="!blogForm.valid" class="submit-btn" type="submit">გამოქვეყნება</button>
    </div>
  </form>
</section>
