.blog-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
}

.section-heading {
  color: #1a1a1f;
  font-size: 3.2rem;
  font-weight: 700;
  margin: 3rem 0;
  margin-bottom: 4rem;
}

.upload-photo-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a1a1f;
}

.logo-container {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a1a1f;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
}

.logo-container img {
  width: 100%;
}

.blog-section-container {
  // width: 60rem;
  width: 45%;
  padding-top: 0.5rem;
}

.upload-photo-container {
  margin-top: 0.5rem;
  background-color: #f7f7ff;
  width: 100%;
  height: 18rem;
  border-radius: 12px;
  border: 0.1px dashed #85858d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 0;
  border-width: 2px;
}

.upload-photo-container label {
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}

.uploaded-photo-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  background-color: #f2f2fa;
  border-radius: 12px;
  padding: 1.5rem;
  border-radius: 1px solid #85858d;
  border-width: 5px;
}

.logo-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.uploaded-logo-container {
  width: 2.4rem;
  height: 2.4rem;
}

.img-name {
  font-size: 1.4rem;
  font-weight: 400;
  color: #1a1a1f;
}

.img-title {
  font-size: 1.4rem;
  color: #1a1a1f;
  font-weight: 400;
}

.close-btn-container img {
  cursor: pointer;
}

.two-inputs-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  margin-top: 2.5rem;
  gap: 2rem;
}

// .author-title-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin: 2rem 0;
// }

.form-label {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a1a1f;
  margin-bottom: 1rem;
}
// Required class to add asterisk to those labels that are necessary.
.required::after {
  content: "*";
  margin-left: 3px;
}

.two-inputs-container input::placeholder,
.textarea::placeholder {
  color: #85858d;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "FiraGO", sans-serif;
}

.two-inputs-container input,
.textarea {
  border-radius: 12px;
  background-color: #fcfcfd;
  padding: 1.5rem;
  min-width: 28.8rem;
  border: 1px solid #e4e3eb;
}

input:focus,
.textarea:focus {
  outline: 1px solid #5d37f3 !important;
  background-color: #f7f7ff !important;
  border: none !important;
}

.title-input,
.author-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.title-input {
  align-self: flex-start;
}

.textarea {
  width: 100%;
  height: 12.4rem;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  resize: none;
}

.description-input {
  margin: 3rem 0;
}

.categories-input {
  // width: 28.8rem;
  width: 100%;
  padding: 1rem;
  padding-right: 0rem;
  border-radius: 12px;
  background-color: #fcfcfd;
  border: 1px solid #e4e3eb;
  display: flex;
  // gap: 0.3rem;
  overflow-y: auto;
}

.categories-input:focus {
  border: 1px solid #5d37f3;
  background-color: #f7f7ff;
}

.show-hide-categories {
  // width: 2rem;
  width: 10%;
  cursor: pointer;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.chosen-categories {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 0.5rem;
  width: 24.6rem;
}

.create-sctoller {
  width: 100%;
  overflow-x: auto;
  position: relative;
}

.categories {
  position: absolute;
  // width: 28.8rem;
  width: 50%;
  height: 14.4rem;
  border: 1px solid#E4E3EB;
  box-shadow: 4px 4px 8px 0 #E4E3EB;
  overflow-y: auto;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  padding: 1.8rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.date-and-categories {
  position: relative;
  margin-bottom: 0;
}

.category-div-valid {
  border: 1.5px solid #14d81c;
  background-color: #f8fff8 ;
}

.category-div-focused {
  background-color: #f7f7ff;
  border: 1.5px solid #5d37f3;
}

.category-btn {
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  font-family: inherit;
  padding: 0.7rem 1rem;
  border-radius: 13px;
  display: flex;
  align-items: center;
}

.delete-icon-container {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 7px;
}

.delete-icon-container img {
  width: 100%;
  cursor: pointer;
}

.upload-info {
  font-size: 1.4rem;
  font-weight: 500;
}

.email-form-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 8rem;
}

.author-validations {
  font-size: 1.2rem;
  font-weight: 400;
  color: #85858d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1.5rem;
}

li::marker {
  color: #85858d;
  font-size: 0.8rem;
}

input {
  margin-bottom: 0.7rem;
}

.title-warning-message {
  font-size: 1.2rem;
  font-weight: 400;
  color: #85858d;
}

// VALIDATION STYLES
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid #ea1919 !important;
  background-color: #faf2f3 !important;
}

.invalid {
  color: #ea1919;
}

.invalid::marker {
  color: #ea1919;
}

.valid {
  color: #14d81c;
}

.valid::marker {
  color: #14d81c;
}

input.ng-valid {
  background-color: hsl(120, 100%, 99%) !important;
  border: 1px solid #14d81c !important;
}

textarea.ng-valid {
  background-color: hsl(120, 100%, 99%) !important;
  border: 1px solid #14d81c !important;
}

.btn-container {
  text-align: end;
  margin-bottom: 5rem;
}

.submit-btn {
  cursor: pointer;
  border: none;
  background-color: #5d37f3;
  padding: 1rem 10rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
  width: 50%;
}

.submit-btn:disabled {
  background-color: #E4E3EB;
  cursor: auto;
}

.choose-category {
  cursor: pointer;
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  font-family: inherit;
  padding: 1rem 1.5rem;
  border-radius: 13px;
}

.blog-creation-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.close-container {
  text-align: end;
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  width: 100%;
}

.message-and-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 3.5rem 0 4.5rem 0;
}

.success-container {
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 12px;
  background-color: #fff;
  width: 33.33%
}

.success-message {
  font-size: 2rem;
  font-weight: 700;
  color: #1A1A1F;
}

.success-btn {
  font-family: inherit;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 8px;
  background-color: #5D37F3;
  border: none;
  color: #fff;
  width: 100%;
}

.email-error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.icon-wrapper img {
  width: 100%;
}

.email-error-message {
  font-size: 1.2rem;
  color: #EA1919;
  font-weight: 400;
}

.invalid-upload-file {
  border: 1px dashed #ea1919;
  background-color: #faf2f3;
}

.file-upload-error {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: inherit;
}

.back-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  transform: translate(200%, 100%);
  width: 4.4rem;
  height: 4.4rem;
  background-color: #E4E3EB;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.back-btn:hover {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #E4E3EB;
}

.category-input {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(20%);
  font-size: 1.4rem;
  font-weight: 400;
  color: #85858D;
}

.success {
  width: 6.4rem;
  height: 6.4rem;
}