.blog-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
}

.section-heading {
  color: #1a1a1f;
  font-size: 3.2rem;
  font-weight: 700;
  margin: 3rem 0;
  margin-bottom: 4rem;
}

.upload-photo-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a1a1f;
}

.logo-container {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a1a1f;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
}

.logo-container img {
  width: 100%;
}

.blog-section-container {
  width: 60rem;
  padding-top: 0.5rem;
}

.upload-photo-container {
  margin-top: 0.5rem;
  background-color: #f7f7ff;
  width: 100%;
  height: 18rem;
  border-radius: 12px;
  border: 0.1px dashed #85858d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 0;
  border-width: 2px;
}

.upload-photo-container label {
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}

.uploaded-photo-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  background-color: #f2f2fa;
  border-radius: 12px;
  padding: 1.5rem;
  border-radius: 1px solid #85858d;
  border-width: 5px;
}

.logo-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.img-title {
  font-size: 1.4rem;
  color: #1a1a1f;
  font-weight: 400;
}

.logo-container img {
  width: 100%;
}

.two-inputs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

// .author-title-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin: 2rem 0;
// }

.form-label {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a1a1f;
  margin-bottom: 1rem;
}
// Required class to add asterisk to those labels that are necessary.
.required::after {
  content: "*";
  margin-left: 3px;
}

.two-inputs-container input::placeholder,
.textarea::placeholder {
  color: #85858d;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "FiraGO", sans-serif;
}

.two-inputs-container input,
.textarea {
  border-radius: 12px;
  background-color: #fcfcfd;
  padding: 1.5rem;
  min-width: 28.8rem;
  border: 1px solid #e4e3eb;
}

input:focus,
.textarea:focus {
  outline: 1px solid #5d37f3;
  background-color: #f7f7ff;
}

.title-input,
.author-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-input {
  align-self: flex-start;
}

.textarea {
  width: 100%;
  height: 12.4rem;
  margin-top: 1rem;
  resize: none;
}

.categories-input {
  width: 28.8rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #fcfcfd;
  min-width: 28.8rem;
  border: 1px solid #e4e3eb;
  display: flex;
  overflow-y: auto;
}

.categories-input:focus {
  border: 1px solid #5d37f3;
  background-color: #f7f7ff;
}

.show-hide-categories {
  width: 2rem;
  cursor: pointer;
}

button {
  cursor: pointer;
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 13px;
}

.chosen-categories {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 0.5rem;
  width: 24.6rem;
}

.create-sctoller {
  overflow-x: auto;
}

.categories {
  position: absolute;
  width: 28.8rem;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 1px solid #e4e3eb;
  border-radius: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.thiss {
  position: relative;
}

.category-div-valid {
  border: 1.5px solid #14d81c;
  background-color: #f8fff8;
}

.category-div-focused {
  background-color: #f7f7ff;
  border: 1.5px solid #5d37f3;
}

.category-btn {
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 13px;
  display: flex;
  align-items: center;
}

.delete-icon-container {
  width: 1.6rem;
  height: 1.6rem;
}

.delete-icon-container img {
  width: 100%;
  cursor: pointer;
}

.upload-info {
  font-size: 1.4rem;
  font-weight: 500;
}

.email-form-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.author-validations {
  font-size: 1.2rem;
  font-weight: 400;
  color: #85858d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1.5rem;
}

li::marker {
  color: #85858d;
  font-size: 0.8rem;
}

input {
  margin-bottom: 0.7rem;
}

.title-warning-message {
  font-size: 1.2rem;
  font-weight: 400;
  color: #85858d;
}

// VALIDATION STYLES
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid #ea1919;
  background-color: #faf2f3;
  border-radius: 5px;
}

.invalid {
  color: #ea1919;
}

.valid {
  color: #14d81c;
}

.valid li::marker {
  color: #14d81c;
}

input.ng-valid {
  background-color: hsl(120, 100%, 99%) !important;
  border: 1px solid #14d81c !important;
}

textarea.ng-valid {
  background-color: hsl(120, 100%, 99%) !important;
  border: 1px solid #14d81c !important;
}
