<div *ngIf="isLoading | async" class="spinner-container">
  <app-spinner></app-spinner>
</div>
<section class="blog-info-section">
  <button class="back-main-page">
    <img [src]="'assets/imgs/arrow-back-main.png'" alt="Back arrow photo" (click)="backToMainPage()">
  </button>
  <div class="item-container">
    <div class="item">
      <div class="img-container">
        <img [src]="(blogItem | async)?.image" alt="Blog Image" />
      </div>
      <div class="blog-details">
        <div class="blog-author-date">
          <span class="blog-author">{{ (blogItem | async)?.author }}</span>
          <div class="date-email-container">
            <span class="blog-date">{{ (blogItem | async)?.publish_date}}</span>
            <span class="blog-email">{{ (blogItem | async)?.email }}</span>
          </div>
        </div>
        <p class="blog-title">
          {{ (blogItem | async)?.title}}
        </p>
        <div class="blog-categories">
          <!-- <ng-container *ngFor="let category of blogItem.categories">
          <div class="category-btn" [ngStyle]="{ 'color': category.text_color, 'background-color': category.background_color}">{{ category.title }}</div>
        </ng-container> -->
          <ng-container *ngFor="let category of (blogItem | async)?.categories">
            <div
              class="category-btn"
              [ngStyle]="{
                color: category.text_color,
                'background-color': category.background_color
              }"
            >
              {{ category.title }}
            </div>
          </ng-container>
        </div>
        <p class="blog-description">
          {{ (blogItem | async)?.description }}
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="!similarBlogs.length && !(isLoading | async)" class="no-similar-blogs">
    <p class="no-blogs-message">არჩეულ ბლოგს მსგავსი სტატიები არ გააჩნია.</p>
  </div>
  <div *ngIf="similarBlogs.length" class="similar-blogs-section">
    <div class="title-btns-container">
      <h3>მსგავსი სტატიები</h3>
      <div class="btns-container">
        <button class="carousel-btn" [disabled]="isBackDisabled" (click)="navigate(-3)">
          <img [src]="'assets/imgs/arr-back.png'" alt="Arrow icon">
        </button>
        <button class="carousel-btn" [disabled]="isFrontDisabled" (click)="navigate(3)">
          <img [src]="'assets/imgs/arrow-front.png'" alt="Arror icon">
        </button>
      </div>
    </div>
    <div class="blogs-container">
      <ng-container *ngFor="let blog of visibleItems">
        <app-blog-item [blogItem]="blog"></app-blog-item>
      </ng-container>
    </div>
  </div>
</section>
